<header>
  <nav class="navbar navbar-expand-sm navbar-light p-0 h-100">
    <div class="container-fluid p-0">
      <a class="logo logo1 navbar-brand font-color" href="/">
        <img src="../../assets/images/header-logo.png" alt=""></a>

        <!-- <i class="ri-bowl-line"></i> -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span><i class="fas fa-bars text-white"></i></span>
      </button>

      <div
        class="collapse navbar-collapse ps-2"
        id="navbarSupportedContent"
        style="z-index: 100"
      >
        <ul class="navbar-nav ms-auto me-3 d-flex flex-row w-auto gap-2 menuList">
          <li class="nav-item">
            <a class="nav-link" href="/home/about-us">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/mission">Our mission</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home/join-us">Contact us</a>
          </li>
          <% if(currentUser) { %>
            <div class="mb-2 text-black">
              <% if (currentUser.image) { %>
                <img src="<%= currentUser.image %>" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
              <% } else { %>
                <li class="user-icon font-color1 text-[10px] flex items-center justify-center w-10 h-10 rounded-full bg-gray-300">
                  <%= currentUser.firstName[0].toUpperCase() %>
                </li>
              <% } %>
            </div>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/signup">Signup</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
</header>

