

<section class="my-5 font-normal  text-center">
    <h2 class="font-color">About Us</h2>
    <p>This app is created to help the poor and needy people.</p>
    <p>In India, around 80 million people go to bed hungry every day.</p>
    <p>Many suffer from diseases like Starvation and Malnutrition.</p>
    <p>Our main aim is to stop hunger and provide them with food.</p>
</section>



<section class=" my-5 font-normal text-center">
    <h2 class="font-color">How We Work</h2>
    <p>We collaborate with restaurants, grocery stores, and individuals to collect surplus food.</p>
    <p>Our volunteers ensure safe and timely distribution of food to shelters, food banks, and communities in need.</p>
    <p>Through technology and community engagement, we make the food donation process seamless and efficient.</p>
    <p>Every contribution, big or small, brings us closer to a hunger-free society.</p>
</section>







