
<section class="my-5 font-normal text-center">
    <h2 class="font-color">Join Us</h2>
    <p>Be a part of our mission to fight hunger and reduce food waste.</p>
    <p>Donate food, volunteer your time, or support us through contributions to help those in need.</p>
    <p>Spread awareness and encourage others to be a part of the movement.</p>
    <p>Together, we can ensure that no food is wasted and no one sleeps hungry.</p>
</section>

<section class="my-5">
    <h2 class="text-center text-3xl font-bold font-color">Meet the Team</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-3 mb-4 text-center">
            <img src="../../assets//images/shivam.jpeg" class="rounded-circle border border-success" width="120" height="120">
            <h2 class="mt-2">Shivam Prajapati</h2>
            <p>Web Developer</p>
            <a href="https://www.linkedin.com/in/shivam-prajapati-87260723b/" class="ml-2 text-primary">
				<i class="fab fa-linkedin fa-lg"></i>
			</a>
        </div>
        <div class="col-md-3 mb-4 text-center">
            <img src="../../assets/images/sohil.jpeg" class="rounded-circle border border-success" width="120" height="120">
            <h2 class="mt-2">Sohil Ansari</h2>
            <p>Web Developer</p>
            <a href="https://www.linkedin.com/in/sohil-raza-92016231a/" class="ml-2 text-primary">
				<i class="fab fa-linkedin fa-lg"></i>
			</a>
        </div>
        
        <div class="col-md-3 mb-4 text-center">
            <img src="../../assets/images/shiv.jpeg" class="rounded-circle border border-success" width="120" height="120">
            <h2 class="mt-2">Shiv Kaushik</h2>
            <p>Frontend Developer</p>
            <a href="https://www.linkedin.com/in/shiv-kaushik-373bbb32b/" class="ml-2 text-primary">
				<i class="fab fa-linkedin fa-lg"></i>
			</a>
        </div>
		<div class="col-md-3 mb-4 text-center">
            <img src="../../assets/images/sujal.jpeg" class="rounded-circle border border-success" width="120" height="120">
            <h2 class="mt-2">Sujal kumar</h2>
            <p>Frontend Developer</p>
            <a href="https://www.linkedin.com/in/sujal-kumar-34b038305/" class="ml-2 text-primary">
				<i class="fab fa-linkedin fa-lg"></i>
			</a>
        </div>
    </div>
</section>