<section class=" my-5 font-medium text-center">
    <h2 class="font-color">Our Mission</h2>
    <p>Our mission is to fight hunger by bridging the gap between food surplus and those in need.</p>
    <p>We aim to create an efficient and accessible platform where individuals, businesses, and organizations can donate food.</p>
    <p>Through collaboration and innovation, we work to minimize food waste and ensure that every meal reaches those who need it most.</p>
    <p>By fostering a culture of generosity and responsibility, we strive to create a hunger-free society.</p>
</section>

<section class=" my-5 font-normal text-center">
    <h2 class="font-color">Our Vision</h2>
    <p>Our vision is to create a world where no one goes to bed hungry.</p>
    <p>We strive to connect surplus food with those in need, ensuring that no meal goes to waste.</p>
    <p>By building a network of donors, volunteers, and organizations, we aim to create a sustainable and impactful food donation system.</p>
    <p>Together, we can eliminate hunger and make food security a reality for all.</p>
</section> 