.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}
.footer-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-left img {
  width: 100px;
  border-radius: 50%;
}
.footer-left .para {
  font-size: 15px;
  padding-left: 20px;
}
.footer-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
}
.links li a{
  font-size: 18px;
  text-decoration: none;
}
.nav-item a:hover {
  transition: 0.3s;
  transform: scale(1.02);
  color: #ddd1d1 !important;
}

.social-links {
  padding: 15px 0px;
}
.social-links a {
  margin: 0px 15px;
  padding: 5px;
  font-size: 25px;
}

@media (max-width: 450px) {
  .footer-left,
  .footer-right {
   display: none;
  }
  .footer{
    display:inline-flex;
    padding: 0% 14%;
  }
  .links{
    margin-left:0px !important;
    gap: 10px;
    
  }
  .links li a{
    font-size: 8px;
    font-weight: 500;
    gap: 15px;
  }
  .social-links a{
     font-size: 15px;
     margin: 0px 0px;
  }
  .copyright{
    font-size: 8px;
  }
}
